<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{actor.img}}" class="profile-img" data-edit="img" title="{{actor.name}}" height="256" width="256"
         alt="{{actor.name}}" />
    <input class="input-name" type="text" name="name" value="{{actor.name}}"
           placeholder="{{localize "MiniSix.Labels.name"}}">

    <label for="quote" class="flex0">{{ localize "MiniSix.Labels.quote" }}</label>
    <input class="span7" type="text" id="quote" name="system.characteristics.quote"
           value="{{system.characteristics.quote}}">

    <label for="appearance" class="flex0"> {{ localize "MiniSix.Labels.appearance" }}</label>
    <input class="span7" type="text" id="appearance" name="system.characteristics.appearance"
           value="{{system.characteristics.appearance}}">


    <label for="personality">{{ localize "MiniSix.Labels.personality" }}</label>
    <input class="span7" type="text" id="personality" name="system.characteristics.personality"
           value="{{system.characteristics.personality}}">

    <label for="age"> {{ localize "MiniSix.Labels.age" }} </label>
    <input class="short" type="number" data-dtype="Number" id="age" name="system.characteristics.age"
           value="{{system.characteristics.age}}">

    <label for="sex">{{ localize "MiniSix.Labels.sex" }}</label>
    <input class="short" type="text" id="sex" name="system.characteristics.sex" value="{{system.characteristics.sex}}">

    <label for="height">{{ localize "MiniSix.Labels.height" }}</label>
    <input class="short" type="number" data-dtype="Number" name="system.characteristics.height"
           value="{{system.characteristics.height}}" id="height">

    <label for="weight">{{ localize "MiniSix.Labels.weight" }}</label>
    <input class="short" type="number" data-dtype="Number" name="system.characteristics.weight"
           value="{{system.characteristics.weight}}" id="weight">
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{ localize "MiniSix.Tabs.attributes" }}</a>
    <a class="item" data-tab="combat">{{ localize "MiniSix.Tabs.combat" }}</a>
    <a class="item" data-tab="perksAndSpells">{{ localize "MiniSix.Tabs.perksAndSpells" }}</a>
    <a class="item" data-tab="gear">{{ localize "MiniSix.Tabs.gear" }}</a>
    <a class="item" data-tab="bio">{{ localize "MiniSix.Tabs.bio" }}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="attributes">
      {{> systems/mini-six/templates/actor/parts/attributes.hbs }}
    </div>
    <div class="tab" data-group="primary" data-tab="gear">
      {{> systems/mini-six/templates/actor/parts/gear.hbs }}
    </div>
  </section>


</form>
