<div class="attributes-with-skills">
  {{#each attributesWithSkills as |attr|}}
    <div class="attribute-with-skills flexcol">
      <div class="attribute">
        {{#if attr.isNone}}
          <div class="attribute-row flexrow">
            {{ attr.label }}
          </div>
        {{else}}
          <div class="attribute-row flexrow">
            <a class="attribute-roll flex3" data-attribute="{{attr.name}}">{{ attr.label }}</a>
            {{ diceForm (concat "system.attributes." attr.name) attr.value }}
          </div>
        {{/if}}
      </div>
      {{#each attr.skills as |skill|}}
        <div class="skill-list-element">
          <a class="skill-roll flex1" data-item-id="{{skill.id}}" data-attribute="{{attr.name}}"
             data-tooltip="{{ skill.description }}">
            {{#if skill.img }}
              <img src="{{skill.img}}" title="{{skill.name}}" alt="{{skill.name}}">
            {{/if}}
            {{ skill.name }}
          </a>
          <span class="flex0">&nbsp;{{skill.rollValue.dice}}&nbsp;<i
            class="fas fa-dice-d6"></i>&nbsp;+&nbsp;{{skill.rollValue.pips}}</span>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>
