<form class="{{cssClass}} sheet-form" autocomplete="off">
  <header class="sheet-header flexrow">
    <img src="{{item.img}}" class="profile-img" data-edit="img" title="{{item.name}}" height="256" width="256"
         alt="{{item.name}}" />
    <input class="input-name" type="text" name="name" value="{{item.name}}" placeholder="{{localize "MiniSix.Labels.name"}}">
  </header>

  <section class="sheet-body">

    <div class="details">
      {{> (lookup . 'sheetDetails') }}
    </div>

    <fieldset class="description">
      <legend>Description</legend>
      <div>
        {{editor itemDescription target="system.description" button=true engine="tinymce" editable=true }}
      </div>
    </fieldset>
  </section>
  <datalist id="skill-list">
    {{#each skillList}}
      <option value="{{this}}"></option>
    {{/each}}
  </datalist>

</form>
