<div class="item-details">
  <label for="attribute">{{ localize 'MiniSix.Labels.attribute' }}</label>
  <select id="attribute" name="system.attributeRef">
    {{selectOptions attributes selected=system.attributeRef localize=true}}
  </select>

  <label>{{ localize 'MiniSix.Labels.value' }}</label>
  {{ diceForm "system.value" system.value }}

  <label for="genre">{{ localize 'MiniSix.Labels.genre' }}</label>
  <input id="genre" name="system.genre" value="{{system.genre}}" type="text">
</div>
