<div class="item-details">
  <label for="attribute">{{ localize "MiniSix.Labels.attribute" }}</label>
  {{ log attributes }}
  <select name="system.attribute" id="attribute">
    {{selectOptions attributes selected=system.attributeRef localize=true}}
  </select>

  <label for="skill">{{ localize "MiniSix.Labels.skill" }}</label>
  <input id="skill" type="text" name="system.skillRef" value="{{system.skillRef}}" list="skill-list">

  <label for="ranged">{{ localize "MiniSix.Labels.ranged" }}</label>
  <input id="ranged" type="checkbox" name="system.ranged" {{ checked system.ranged}}>

  {{#if system.ranged}}
    <label for="range">{{ localize "MiniSix.Labels.range" }}</label>
    <input id="range" type="text" name="range" value="{{rangeField}}" pattern="[0-9]{1,3}" placeholder="###/###/###">
  {{/if}}

  <label>{{ localize "MiniSix.Labels.damage" }}</label>
  {{ log system.damage }}
  <div>{{ diceForm "system.damage" system.damage }}</div>

</div>
